@charset "utf-8";
/* CSS Document */

h1{
    color:#38526f;
    font: 'walkBlack', sans-serif;
    font-weight: 300;
}
p, a{
    font-size: 17px;
    color: #38526f;
    font-family: 'walkUltra', sans-serif;
    font-weight: 200;
}
p strong{
    font-size: 17px ;
    color: #38526f;
    font-family: 'walkBlack', sans-serif;
    font-weight: 200;
}
.backTo{
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    
}
a{
    text-decoration: underline;
    cursor: pointer;
}
#footerline3 p, #footerline3 p a:hover, #footerline3 p a:visited, #footerline3 p a{
    font-family: 'walkBlack', sans-serif;
    color:#A9A9A9;
    font-size: 11px;
    text-decoration: none;
}