@charset "utf-8";
/* CSS Document */

h1{
    color:#38526f;
    font: "Walkway Black", sans-serif;
    font-weight: 300;
}
body{
    font-size: 17px ;
    color: #38526f;
    font: "Walkway Black", sans-serif;
    font-weight: 200;
}